:root {
  --yellowColor: #fcba1c;
  --redColor: #ff4347;
  --blueColor: #6cb7e1;
  --blackColor: black;
  --whiteColor: white;
}

body {
  font-family: "Roboto";
  h1,
  h2,
  h3,
  h4 {
    font-family: "AlterwaveExtraBold";
  }
  p {
    font-family: "Quicksand";
    font-size: 16px;
    opacity: 80%;
  }
  strong {
    font-family: "AlterwaveThin";
  }
  button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .button {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}
